albumentations==1.0.0
inplace_abn==1.1.0
matplotlib==3.4.2
numpy==1.22.2
opencv_python_headless==4.5.2.54
pretrainedmodels==0.7.4
segmentation_models_pytorch==0.2.0
torch==1.8.0
torchvision==0.9.0
